/*
 * Green Button
 * */

.light-green {
  color: var(--color-light-greenish-100);
  background-color: var(--color-light-greenish-100);
  background-image: var(--color-light-greenish-gradient);
  border-color: var(--color-light-greenish-100);
}

.light-green:hover {
  color: var(--color-light-greenish-120);
  background-color: var(--color-light-greenish-120);
  background-image: none;
  border-color: var(--color-light-greenish-120);
}

/*
 * Silver Button
 * */

.light-silver {
  color: var(--color-light-coal-100);
  background-color: var(--color-light-grey-50);
  border-color: var(--color-light-iron-100);
}

.light-silver:hover {
  background-color: var(--color-light-iron-100);
  border-color: var(--color-light-iron-100);
}

.light-silver.outline,
.light-silver.clean {
  color: var(--color-light-grey-50);
  border-color: var(--color-light-grey-50);
}

.light-silver.outline:hover,
.light-silver.clean:hover {
  color: var(--color-light-iron-100);
}

/*
 * Red Button
 * */

.light-red {
  color: var(--color-light-salmon-100);
  background-color: var(--color-light-salmon-100);
  background-image: var(--color-light-salmon-gradient);
  border-color: var(--color-light-salmon-100);
}

.light-red:hover {
  color: var(--color-light-salmon-120);
  background-color: var(--color-light-salmon-120);
  background-image: none;
  border-color: var(--color-light-salmon-120);
}

