:root {
  --button-font-family: var(--title-font-family);
  --button-font-weight: var(--title-font-weight);
  --button-font-style: var(--title-font-style);

  --button-font-size-extra-small: 12px;
  --button-font-size-small: 14px;
  --button-font-size-default: 14px;
  --button-font-size-large: 14px;

  --button-padding-extra-small: 8px;
  --button-padding-small: 16px;
  --button-padding-default: 24px;
  --button-padding-large: 32px;

  --button-height-extra-small: 26px;
  --button-height-small: 26px;
  --button-height-default: 28px;
  --button-height-large: 28px;

  --button-focus-box-shadow: inset 0 0 3px 3px;
  --button-disabled-background-color: var(--color-light-silver-50);
  --button-disabled-color: var(--color-light-chromium-100);
  --button-outline-disabled-border-color: var(--color-light-silver-50);
  --button-outline-disabled-color: var(--color-light-chromium-100);
  --button-block-background: var(--color-light-grey-20);
  --button-block-color: var(--color-light-coal-100);
  --button-color: var(--color-white);
  --button-dark-color: var(--color-light-coal-100);
}
