:root {
  --button-font-family: var(--title-font-family);
  --button-font-weight: var(--title-font-weight);
  --button-font-style: var(--title-font-style);

  --button-font-size-extra-small: 12px;
  --button-font-size-small: 14px;
  --button-font-size-default: 14px;
  --button-font-size-large: 14px;

  --button-padding-extra-small: 0 8px;
  --button-padding-small: 0 16px;
  --button-padding-default: 0 24px;
  --button-padding-large: 0 32px;

  --button-focus-box-shadow: inset 0 0 3px 3px;
  --button-disabled-background-color: #e9e9e9;
  --button-disabled-color: #a0a0a0;
  --button-outline-disabled-border-color: #e9e9e9;
  --button-outline-disabled-color: #a0a0a0;
}
