@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "./properties.css";
@import "./colors.css";

.button {
  border: none;
  border-radius: 3px;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-style: var(--button-font-style);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

/*
 * disabled button style
 * */

.button:disabled:hover,
.button:disabled {
  cursor: not-allowed;
  background: var(--button-disabled-background-color);
  color: var(--button-disabled-color);
}

.button.outline:disabled,
.button.clean:disabled {
  background: transparent;
  color: var(--button-outline-disabled-color);
}

/*
 * Reset rules defined by button color
 * */

.flat {
  background-image: none;
}

.flat,
.flat:hover,
.flat:active,
.flat:focus,
.gradient,
.gradient:hover,
.gradient:active,
.gradient:focus,
.outline:hover,
.outline:active,
.outline:focus,
.clean:hover,
.clean:active,
.clean:focus {
  color: var(--button-color);
}

/*
 * Outline borders
 * */

.outline {
  border-style: solid;
  border-width: 1px;
}

.outline:disabled {
  border: 1px solid var(--button-outline-disabled-border-color);
}

/*
 * Transparent Backgrounds
 * */

.outline,
.clean {
  background-color: transparent;
  background-image: none;
}

/*
 * Icon Alignment
 * */

.button svg {
  margin: 0 8px 0 0;
}

/*
 * Button sizes
 * */

.extra-small {
  padding: 0 var(--button-padding-extra-small);
  font-size: var(--button-font-size-extra-small);
  height: var(--button-height-extra-small);
}

.small {
  padding: 0 var(--button-padding-small);
  font-size: var(--button-font-size-small);
  height: var(--button-height-small);
}

.default {
  padding: 0 var(--button-padding-default);
  font-size: var(--button-font-size-default);
  height: var(--button-height-default);
}

.large {
  padding: 0 var(--button-padding-large);
  font-size: var(--button-font-size-large);
  height: var(--button-height-large);
}

/*
 * Remove 1px related to the border-width
 * */

.outline.extra-small {
  padding: 0 calc(var(--button-padding-extra-small) - 1px);
}

.outline.small {
  padding: 0 calc(var(--button-padding-small) - 1px);
}

.outline.default {
  padding: 0 calc(var(--button-padding-default) - 1px);
}

.outline.large {
  padding: 0 calc(var(--button-padding-large) - 1px);
}

