@import "../../../styles/colors.css";
@import "../properties.css";

:root {
  --pagination-height: 28px;
  --pagination-background-color: var(--toolitem-background-color);
  --pagination-border-radius: 3px;
  --pagination-border-color: var(--color-light-platinum-50);
  --pagination-text-color: var(--color-light-steel-100);
  --pagination-error-border-color: var(--toolitem-error-color);
  --pagination-error-button-text-color: var(--toolitem-error-color);
  --pagination-display-padding: 0 8px;
  --pagination-display-error-background-color: var(--color-light-red-20);
  --pagination-button-width: 23px;
  --pagination-button-height: 28px;
  --pagination-button-background-color: var(--toolitem-background-color);
  --pagination-button-border-color: var(--color-light-platinum-50);
  --pagination-button-padding: 5px;
  --pagination-button-hover-background-color: var(--color-light-greenish-120);
  --pagination-button-pressed-background-color: var(--color-light-greenish-150);
  --pagination-button-disabled-background-color: var(--color-light-silver-50);
  --pagination-button-active-text-color: var(--color-white);
  --pagination-input-font-size: 16px;
}
