.main section {
  position: relative;
}

.main section:nth-child(1) { z-index: 5; }

.main section:nth-child(2) { z-index: 4; }

.main section:nth-child(3) { z-index: 3; }

.main section:nth-child(4) { z-index: 2; }

.main section:nth-child(5) { z-index: 1; }
