@import "./properties.css";
@import "../properties.css";

.inputWrap {
  width: 100%;
}

.input {
  padding: var(--search-field-input-padding);
  border: none;
  width: 100%;
  font-size: var(--toolitem-font-size);
  font-family: var(--body-font-family);
  color: var(--toolitem-input-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.icon svg {
  font-size: 20px;
  color: var(--search-field-button-color);
  transition: color 100ms ease-in-out;
}

.input:disabled,
.input:disabled + .button {
  opacity: 0.5;
  cursor: not-allowed;
}

.input:focus ~ .button {
  background-image: var(--toolitem-active-background);
  color: var(--toolitem-background-color);
}

.button:active {
  background-color: var(--search-field-button-active-background-color);
}
