@import "../../styles/typography.css";
@import "../../styles/colors.css";
@import "../../styles/spacing.css";
@import "../../styles/media.css";

.collapse {
  background-color: #eeeeee;
  padding: var(--spacing-medium);
  width: 100%;
}

.collapseButton {
  font-size: var(--display-4);
  color: #999999;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: block;
  padding: 0;
}

.collapseButton svg {
  color: #3ed2a4;
  font-size: 24px;
}

.collapseButton:focus {
  box-shadow: none;
}

.paddingTop {
  padding-top: var(--spacing-medium);
}

.marginTop {
  margin-top: -30px;
}

.heading {
  margin: 0;
  font-family: var(--title-font-family);
  color: var(--color-light-silver-300);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: var(--spacing-small);
}

.selectedOptions {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-light-silver-300);
}

.actionButton {
  margin-left: var(--spacing-small);
}

.checkboxGroup {
  width: 100%;
}

.spaceButtons > div {
  margin-bottom: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.allowContentOverflow {
  overflow: initial;
}
