@import "../../styles/colors.css";

:root {
  --alert-secondary-border-color: var(--color-light-silver-100);
  --alert-secondary-icon-color: var(--color-white);
  --alert-color: var(--color-light-coal-100);
}
