@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "./properties.css";

.alert * {
  box-sizing: border-box;
  margin: 0;
}

.alert {
  font-size: 1em;
  display: flex;
  border: 1px solid var(--alert-secondary-border-color);
  border-radius: 3px;
  padding: 2px;
  align-items: center;
  font-family: var(--title-font-family);
}

.content {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
  color: var(--alert-color);
}

.icon {
  height: 50px;
  width: 59px;
  color: var(--alert-secondary-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.light-warning {
  background-color: var(--color-light-warning);
}

.light-info {
  background-color: var(--color-light-info);
}

.light-error {
  background-color: var(--color-light-error);
}

.light-success {
  background-color: var(--color-light-success);
}
