@import "../../styles/colors.css";

:root {
  --progress-linear-width: 300px;
  --progress-linear-height: 25px;

  --progress-linear-fill-height: 6px;

  --progress-linear-fill-disabled: var(--color-light-coal-100);
  --progress-linear-back-disabled: var(--color-light-grey-100);
  --progress-linear-color-disabled: var(--color-light-coal-100);

  --progress-linear-fill-enabled: var(--color-light-salmon-gradient);
  --progress-linear-back-enabled: var(--color-light-grey-100);
  --progress-linear-color-enabled: var(--color-light-red-100);
  --progress-linear-font-family: var(--title-font-family);
}
