@import "../../styles/colors.css";
@import "../../styles/typography.css";
@import "./properties.css";

.tag {
  font-family: var(--tag-font-family);
  font-style: var(--tag-font-style);
  font-size: var(--tag-font-size);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-light-silver-200);
  border: dashed 1px;
  border-color: var(--color-light-silver-200);
  border-radius: 3px;
  padding: var(--tag-padding);
  background-color: transparent;
  background-image: none;
  cursor: default;
}

