@import "../../styles/colors";
@import "../../styles/spacing";

:root {
  --modal-frame-background-color: var(--color-light-smoke-50);
  --modal-frame-width: 20px;
  --modal-frame-border-color: var(--color-light-iron-50);
  --modal-inner-width: 540px;
  --modal-border-radius: 3px;
  --modal-box-shadow-color: rgba(var(--color-black), 0.5);
  --modal-overlay-background: rgba(var(--color-black), 0.7);
  --modal-position-top: 145px;
  --modal-title-color: var(--color-light-steel-100);
  --modal-padding: var(--spacing-medium);
  --modal-title-font-size: 14px;
}
