@import "../../styles/colors.css";

:root {
  --tabbar-background: var(--color-light-silver-20);
  --tabbar-text: var(--color-light-steel-100);
  --tabbar-highlight: var(--color-light-greenish-100);
  --tabbar-highlight-background: var(--color-white);

  --tabbar-font-family: var(--title-font-family);
  --tabbar-tab-font-size: 16px;

  --tabbar-tab-width: 200px;

  --tabbar-tab-padding: 12px;
  --tabbar-highlight-size: 2px;
  --tabbar-highlight-padding: calc(var(--tabbar-tab-padding) - var(--tabbar-highlight-size));

  --tabbar-padding: 20px;
  --tabbar-tablist-padding-fix: 0 calc(var(--tabbar-padding) * -1);

  --tabbar-icon-margin: 5px;
  --tabbar-icon-size: 20px;
}
