@import "./../../../styles/colors.css";
@import "./../../../styles/typography.css";
@import "../properties.css";

:root {
  --date-input-font-size: 14px;
  --date-input-color: var(--toolitem-input-color);
  --date-input-active-background: var(--color-light-greenish-20);
  --date-input-error-background: var(--color-light-red-20);
  --date-input-inner-spacing: 5px;
}
