@import "../../../styles/typography.css";
@import "./properties.css";
@import "../properties.css";

.input,
.expanderSpan {
  border: 0;
  padding: 0;
  white-space: pre;
  font-size: var(--toolitem-font-size);
  color: var(--toolitem-input-color);
  font-family: var(--body-font-family);
}

.input:placeholder {
  color: var(--toolitem-input-color);
}

.input {
  position: absolute;
  top: 0;
  left: var(--date-input-inner-spacing);
  width: calc(100% - var(--date-input-inner-spacing));
  height: 100%;
  background-color: transparent;
}

.dateSelector {
  position: absolute;
  top: calc(100% + 3px);
  left: -1px;
}

.flex {
  display: flex;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.separator:last-child {
  display: none;
}

.separator {
  width: 1px;
  height: 20px;
  margin: 0 1px;
}

