@import "../../styles/colors.css";
@import "../../styles/typography.css";

:root {
  --toolbar-height: 28px;
  --toolitem-border-color: var(--color-light-smoke-100);
  --toolitem-focused-color: var(--color-light-greenish-100);
  --toolitem-error-color: rgba(var(--color-light-salmon-120), 1);
  --toolitem-separator-color: var(--color-light-steel-100);
  --toolitem-background-color: var(--color-white);
  --toolitem-font-family: var(--title-font-family);
  --toolitem-font-size: 14px;
  --toolitem-border-radius: 3px;
  --toolitem-box-shadow: 0.5px 0.9px 0 0 var(--color-light-silver-100);
  --toolitem-active-background: var(--color-light-salmon-gradient);

  --toolitem-input-color: var(--color-light-chromium-100);
  --toolitem-input-icon-color: var(--color-light-chromium-100);
  --toolitem-input-inner-spacing: 5px;
  --toolitem-input-icon-size: 16px;
}
