@import "../../styles/colors.css";
@import "../../styles/spacing.css";

:root {
  --date-selector-font-family: var(--title-font-family);
  --date-selector-background: var(--color-white);
  --date-selector-border-radius: 3px;
  --date-selector-border: 1px solid var(--color-light-silver-50);
  --date-selector-box-shadow-color: rgba(var(--color-light-steel-100), 0.25);

  --date-selector-sidebar-background: var(--color-light-silver-20);
  --date-selector-sidebar-active-color: var(--color-light-greenish-100);
  --date-selector-sidebar-border: 1px solid var(--color-light-silver-50);
  --date-selector-sidebar-title-color: var(--color-light-coal-50);
  --date-selector-sidebar-label-margin-left: var(--spacing-small);
  --date-selector-sidebar-padding:
    var(--spacing-medium)
    var(--spacing-medium)
    var(--spacing-medium)
    var(--spacing-small);

  --date-selector-top: 45px;
  --date-selector-font-size: 12px;
  --date-selector-font-weight: 12px;
  --date-selector-icon-font-size: 18px;
  --date-selector-week-name-color: var(--color-light-greenish-100);
  --date-selector-week-name-background: var(--color-light-silver-20);
  --date-selector-week-name-font-weight: bold;
  --date-selector-week-name-font-size: 14px;
  --date-selector-calendar-week-spacing: 3px;
  --date-selector-calendar-margin-top: var(--spacing-small);
  --date-selector-day-font-size: 14px;
  --date-selector-day-color: var(--color-light-coal-50);
  --date-selector-active-color: var(--color-light-greenish-100);
  --date-selector-day-selected-border-radius: 3px;
  --date-selector-day-out-of-range-color: var(--color-light-steel-50);
  --date-selector-selected-span: var(--color-light-silver-40);
  --date-selector-selected-days: var(--color-light-chromium-100);
  --date-selector-separator: var(--color-light-smoke-100);
  --date-selector-border-radius: 3px;
  --date-selector-hovered-span: var(--color-light-greenish-20);
}
