@import "../../styles/colors.css";
@import "../../styles/spacing.css";

:root {
  --date-selector-font-family: var(--title-font-family);
  --date-selector-background: #ffffff;
  --date-selector-border-radius: 3px;
  --date-selector-border: 1px solid #e1e1e1;
  --date-selector-box-shadow-color: rgba(85, 99, 116, 0.2);

  --date-selector-sidebar-background: #f5f5f5;
  --date-selector-sidebar-active-color: var(--color-light-green-accent-100);
  --date-selector-sidebar-border: 1px solid #e1e1e1;
  --date-selector-sidebar-title-color: #6f6f6f;
  --date-selector-sidebar-label-margin-left: var(--spacing-small);
  --date-selector-sidebar-padding:
    var(--spacing-medium)
    var(--spacing-medium)
    var(--spacing-medium)
    var(--spacing-small);

  --date-selector-top: 45px;
  --date-selector-font-size: 12px;
  --date-selector-font-weight: 12px;
  --date-selector-icon-font-size: 18px;
  --date-selector-week-name-color: var(--color-light-green-accent-100);
  --date-selector-week-name-background: #f5f5f5;
  --date-selector-week-name-font-weight: bold;
  --date-selector-week-name-font-size: 14px;
  --date-selector-calendar-week-spacing: 3px;
  --date-selector-calendar-margin-top: var(--spacing-small);
  --date-selector-day-font-size: 14px;
  --date-selector-day-color: #6f6f6f;
  --date-selector-active-color: var(--color-light-green-accent-100);
  --date-selector-day-selected-border-radius: 3px;
  --date-selector-day-out-of-range-color: #b2b2b2;
  --date-selector-border-radius: 3px;
  --date-selector-hovered-span: var(--color-light-greenish-20);
}
