:root {
  --spacing: 10px;
}

.root {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  font-family: sans-serif;
}

.row {
  height: 100px;
  width: 280px;
  margin-right: var(--spacing);
  margin-bottom: var(--spacing);
  position: relative;
}

.rowText {
  position: absolute;
  bottom: 0;
  padding: 8px;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.8em;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
}
