@import "../../styles/spacing.css";

:root {
  --card-spacing-large: var(--spacing-medium);
  --card-spacing-medium: var(--spacing-medium);
  --card-spacing-small: var(--spacing-small);
  --card-shadow: 0 2px 5px 0 var(--color-light-silver-50);
  --card-border-radius: 3px;

  --card-title-font-size: 14px;
  --card-title-icon-margin: 9px;

  --card-title-padding:
    var(--card-spacing-large)
    var(--card-spacing-medium)
    var(--card-spacing-small)
    var(--card-spacing-medium);

  --card-actions-padding:
    0
    var(--card-spacing-medium)
    var(--card-spacing-small)
    var(--card-spacing-medium);

  --card-content-padding:
    0
    var(--card-spacing-medium)
    var(--card-spacing-small)
    var(--card-spacing-medium);

  --card-section-title-color: var(--color-light-coal-50);
  --card-section-title-icon-color: var(--color-light-greenish-100);
  --card-section-title-icon-size: 18px;
  --card-section-background: var(--color-light-smoke-40);

  --card-section-subtitle-color: var(--color-light-steel-50);
  --card-section-subtitle-font-size: 12px;
  --card-section-subtitle-margin-right: var(--spacing-small);
}

