:root {
  --color-light-green-primary-100: #43a047;
  --color-light-green-primary-200: #2e7d32;
  --color-light-green-primary-300: #235f26;

  --color-light-green-primary-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-green-primary-100) 10%,
      var(--color-light-green-primary-300) 90%
    );

  --color-light-green-secondary-100: #689f38;
  --color-light-green-secondary-200: #558b2f;
  --color-light-green-secondary-300: #3d6b22;

  --color-light-green-secondary-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-green-secondary-100) 10%,
      var(--color-light-green-secondary-300) 90%
    );

  --color-light-green-contrast-100: #005849;
  --color-light-green-contrast-200: #004d40;
  --color-light-green-contrast-300: #004237;

  --color-light-green-contrast-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-green-contrast-100) 10%,
      var(--color-light-green-contrast-300) 90%
    );

  --color-light-green-accent-100: #3ed2a4;
  --color-light-green-accent-200: #4fc6b0;

  --color-light-green-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-green-accent-100) 10%,
      var(--color-light-green-accent-200) 90%
    );

  --color-light-silver-100: #8f8f8f;
  --color-light-silver-200: #757575;
  --color-light-silver-300: #606060;

  --color-light-silver-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-silver-100) 10%,
      var(--color-light-silver-300) 90%
    );

  --color-light-silver-accent-100: #949494;
  --color-light-silver-accent-200: #767676;

  --color-light-silver-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-silver-accent-100) 10%,
      var(--color-light-silver-accent-200) 90%
    );

  --color-light-plumb-100: #58656c;
  --color-light-plumb-200: #37474f;
  --color-light-plumb-300: #323f46;

  --color-light-plumb-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-plumb-100) 10%,
      var(--color-light-plumb-200) 90%
    );

  --color-light-yellow-100: #b38400;
  --color-light-yellow-200: #9e6c00;
  --color-light-yellow-300: #865100;

  --color-light-yellow-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-yellow-100) 10%,
      var(--color-light-yellow-200) 90%
    );

  --color-light-yellow-accent-100: #ce8500;

  --color-light-red-100: #dd7b00;
  --color-light-red-200: #e65100;
  --color-light-red-300: #d14800;

  --color-light-red-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-red-100) 10%,
      var(--color-light-red-200) 90%
    );

  --color-light-blue-100: #039fdb;
  --color-light-blue-200: #039be5;
  --color-light-blue-300: #038fe2;

  --color-light-blue-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-blue-100) 10%,
      var(--color-light-blue-200) 90%
    );

  --color-light-blue-accent-100: #0097a7;
  --color-light-blue-accent-200: #007bc7;

  --color-light-blue-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-blue-accent-100) 10%,
      var(--color-light-blue-accent-200) 90%
    );

  --color-light-purple-100: #7b45c5;
  --color-light-purple-200: #673ab7;
  --color-light-purple-300: #532fa9;

  --color-light-purple-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-purple-100) 10%,
      var(--color-light-purple-200) 90%
    );

  --color-light-purple-accent-100: #8457d6;

  --color-light-pink-100: #ff2e88;
  --color-light-pink-200: #ff1744;
  --color-light-pink-300: #ee0001;

  --color-light-pink-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-pink-100) 10%,
      var(--color-light-pink-200) 90%
    );

  --color-light-pink-accent-100: #e52525;
  --color-light-pink-accent-200: #db5f5f;

  --color-light-pink-accent-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-pink-accent-100) 10%,
      var(--color-light-pink-accent-200) 90%
    );

  --color-light-warning: var(--color-light-yellow-200);
  --color-light-error: var(--color-light-red-200);
  --color-light-info: var(--color-light-blue-200);
  --color-light-success: var(--color-light-green-secondary-200);

  --color-light-orange-100: #ffa317;
  --color-light-orange-50: #ffd18b;
  --color-light-orange-20: #ffedd1;
  --color-light-red-100: #c2143e;
  --color-light-red-50: #e0899e;
  --color-light-red-20: #f3d0d8;
  --color-light-purple-50: #ca99e4;
  --color-light-purple-20: #ead6f4;
  --color-light-blue-100: #3abed2;
  --color-light-blue-50: #9cdee8;
  --color-light-blue-20: #d8f2f6;
  --color-light-green-100: #38be6a;
  --color-light-green-50: #9bdeb4;
  --color-light-green-20: #d7f2e1;
  --color-light-salmon-100: #ff796f;
  --color-light-salmon-120: #dc6860;
  --color-light-salmon-150: #ba5851;
  --color-light-greenish-120: #32b88b;
  --color-light-greenish-100: #37cc9a;
  --color-light-silver-40: #eeeeee;
  --color-light-silver-20: #f6f6f6;
  --color-light-coal-100: #454545;
  --color-light-steel-100: #757575;
  --color-light-chromium-100: #a0a0a0;
  --color-light-chromium-50: #cfcfcf;
  --color-light-steel-50: #bababa;
  --color-light-coal-50: #a2a2a2;
  --color-white: #ffffff;
  --color-light-silver-50: #e9e9e9;
  --color-light-silver-100: #d4d4d4;
  --color-light-platinum-100: #c2cbd2;
  --color-light-platinum-50: #e0e5e8;
  --color-light-platinum-20: #f3f5f6;
  --color-light-iron-100: #a4acb2;
  --color-light-iron-50: #d1d5d8;
  --color-light-iron-20: #edeef0;
  --color-light-grey-100: #858c8f;
  --color-light-grey-50: #c2c5c7;
  --color-light-grey-20: #e7e8e9;
  --color-light-smoke-100: #e0e0e0;
  --color-light-smoke-50: #efefef;
  --color-black: #000000;
  --color-light-smoke-40: #f3f3f3;
  --color-light-greenish-150: #2b9e77;
  --color-light-greenish-20: #c3f0e0;
  --color-light-salmon-20: #ffc9c5;
  --color-light-salmon-50: #ffa19a;
  --color-light-greenish-50: #73dbb8;
  --color-light-purple-100: #8459b9;
  --color-light-steel-200: #5c5c5c;
  --color-light-carbon-100: #1f1f1f;
  --color-light-carbon-50: #2c2c2c;
  --color-light-carbon-40: #383838;

  --color-light-warning: var(--color-light-purple-100);
  --color-light-error: var(--color-light-red-100);
  --color-light-info: var(--color-light-orange-100);
  --color-light-success: var(--color-light-blue-100);

  --color-light-greenish-gradient:
    linear-gradient(
      var(--gradient-angle),
      var(--color-light-greenish-100) 10%,
      #45babf 90%
    );
  --color-light-salmon-gradient:
    linear-gradient(
      var(--gradient-angle),
      #fc8a5d 10%,
      var(--color-light-salmon-100) 90%
    );
}
